parameters:
	checkAlwaysTrueCheckTypeFunctionCall: false
	checkAlwaysTrueInstanceof: false
	polluteCatchScopeWithTryAssignments: false
	polluteScopeWithLoopInitialAssignments: true
	earlyTerminatingMethodCalls: []
	universalObjectCratesClasses: []
	ignoreErrors:
		- '#Undefined variable: \$this#'
		- '#Using \$this outside a class.#'
	tmpDir: %rootDir%/tmp
	level: 5
