parameters:
	checkAlwaysTrueCheckTypeFunctionCall: false
	checkAlwaysTrueInstanceof: false
	polluteCatchScopeWithTryAssignments: false
	polluteScopeWithLoopInitialAssignments: true
	earlyTerminatingMethodCalls: []
	universalObjectCratesClasses: []
	ignoreErrors:
		- '#Undefined variable: \$this#'
		- '#Using \$this outside a class.#'
		- '#Parameter \#[\d]+ of function [a-zA-Z]+ expects string|null, array|Kirby\\Cms\\Field given.#'
		- '#Binary operation "." between [.]+ and array|Kirby\\Cms\\Field results in an error.#'
		- '#Call to function in_array\(\) requires parameter \#[\d]+ to be true.#'
		- '#Call to an undefined static method Kirby\\Cms\\Response::errorPage\(\).#'
	tmpDir: %rootDir%/tmp
	level: 5
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
